@charset "UTF-8";

body {
	background-image : url(https://st4.depositphotos.com/9012638/19893/i/1600/depositphotos_198934058-stock-photo-healthy-food-background-trendy-alkaline.jpg);
	background-size: 1920px 1080px;
}
h1 {
	color : navy;
	font-family : fantasy;
	font-style: oblique;
	font-size: 300%;
}

div {
	color : navy;
	font-family : fantasy;
	font-size: 150%;
}
p {
	color : red;
	font-family: fantasy;
}

a:link {
  color: blue;
}

a:visited {
  color: red;
}
table {
	width: 40%;
}
tr:nth-child(even) {
	height: 50px;
	background-color: #f2f2f2;
}
button {
  background-color: #e7e7e7; 
  border: none;
  color: black;
  padding: 9px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
button:hover {
  background-color: #008CBA; 
  color: blue;
}