<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Restaurants</title>
<link rel="stylesheet" href="index.css" TYPE="text/css" media="screen">
</head>
<body>
<h1>Restaurants</h1>
	<div th:unless="${message.empty}">
		<p th:text="${message}"></p>
	</div>
	<div th:if="${message.empty}">
	<p> Insert the new restaurant </p>
	</div>
		<form name="restaurant_form" action="#" th:action="@{/save}"
			th:object="${restaurant}" method="post">
			<input type="hidden" th:field="*{id}" />
			<p>
				Name: <input type="text" th:field="*{name}" />
			</p>
			<p>
				AveragePrice: <input type="text" th:field="*{averagePrice}" />
			</p>
			<button type="submit" name="btn_submit">Save</button>
		</form>
</body>
</html>