<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Restaurants</title>
<link rel="stylesheet" href="index.css" TYPE="text/css" media="screen">
</head>

<body>
	<h1>Restaurants</h1>
	<div th:if="${restaurants.empty}">
		<div>No restaurants</div>
	</div>
	<div th:unless="${restaurants.empty}">
		<table id="restaurant_table">
			<thead>
				<tr>
					<th>Name</th>
					<th>AveragePrice</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="restaurant : ${restaurants}">
					<td th:text="${restaurant.name}"></td>
					<td th:text="${restaurant.averagePrice}"></td>
					<td><a id="edit" th:href='@{/edit(id=${restaurant.id})}'><button>Edit</button></a></td>
					<td><a id="delete" th:href='@{/delete(id=${restaurant.id})}'><button>Delete</button></a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<p>
			Click <a th:href="@{/new}">here</a> to add a new restaurant
		</p>
		<p>
			Click <a th:href="@{/logout}">here</a> to logout
		</p>
	</div>
	<div th:unless="${restaurants.empty}">
		<p>
			Click <a th:href="@{/reset}">here</a> to delete all the restaurants
		</p>
	</div>

</body>
</html>
